body *{
    transition: all 0.4s ease-in-out;
}
footer{
    background: #000;
    width: 100%;
    color: #fff;
    bottom: 0;
    padding: 10px;
}
footer:hover{
    padding: 20px;
}
footer a{
    color: rgba(255,255,255,.5);
}
footer a:visited{
    color: #cccfc4;
}
footer a:hover{
    color: #cccfc4;
}


.container{
    margin-top: 70px;
    margin-bottom: 70px;

}
.form-control{
    width:300px;
}

.jumbotron-container{
    height: 480px; 
    width: 100%;
}
.jumbotron-color{
    position: absolute; 
    height: 400px; 
    width: 100%;
}
.jumbotron-backimage{
    background-position: center; 
    background-size: cover; 
    height: 400px; 
    width: 100%;
}
.jumbotron-backimage:hover{
    height: 480px;
}
.jumbotron-color:hover{
    height: 480px;
}
.jumbotron-body-container{
    width: 75%;
    margin: auto;
}


.widget{
    width: 100%;
    color: black;
    border-radius: 10px;
    border-width: 3px;
    border-style: solid;
    margin-top: 10px;
}
.widget-header{
    width: 100%;
    background-color:  rgb(0, 89, 136);
    text-align: center;
    font-size: 30px;
    padding: 4px;
}
.widget-header a{
    color: white;
}
.widget-header a:hover{
    color: rgba(255,255,255,.5);
    text-decoration: none;
}
.widget-body{
    padding: 5px;
    background-color: #004a1e;
}
.img-anim{
    width: 100%;
    padding: 30px;
}
.img-anim:hover{
    padding: 10px;
}
#li-nav{
    color: white;
}
#li-nav:hover{
    color: rgba(255,255,255,.5);
}
#navbarDropdown{
    color: white;
}
#navbarDropdown:hover{
    color: rgba(255,255,255,.5);
}
#dropdown-item{
    color: white;
}
#dropdown-item:hover{
    color: black;
}
#dropdown-item:active{
    color: black;
}
.txt-anim{
    width: 100%;
    padding: 20px;
}
.txt-anim:hover{
    padding: 40px;
}
.quote{
    border-radius: 20px; text-align: center; width: 100%;background-color: teal;color: white;margin-top: 35px;margin-bottom: 35px;padding: 10px;
}

.quote:hover{
    padding: 20px;
}
#dropdown-menu1{
    background-color: none;
    border: 0;
}
.theFooter{
    opacity: 0.8;
    text-align: center;
    background: #5a0063;
    width: 100%;
    color: #fff;
    position: fixed;
    bottom: 0;
    padding: 0px;
}
.theFooter a{
    color: rgba(255,255,255,.5);
}
.theFooter a:visited{
    color: #cccfc4;
}
.theFooter a:hover{
    color: #cccfc4;
}